<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        <div>搜索栏目</div>
        <div>
            <form action="<?php echo site_url('test/test20141202/search');?>" method="get" name="search_form" id="search_form">
          <input name="query" type="text" id="query"   />
          <input name="Submit" type="submit" value="搜索" />
        </form>
        </div>
    </body>
</html>
